
.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 12px;
    height: auto;
    width: 95%;
}

.home a {
    width: 100%;
}

.home h1 {
    font-size: 3rem;
    margin-top: 20px;
    padding:20px;
    color: black;
    text-shadow: 2px 2px white;
    width: auto;
    text-align: center;
}

.home h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    padding-bottom: 50px;
    color: black;
    text-shadow: 2px 2px white;
    width: 75%;
    text-align: center;
    border-bottom: 1px solid black
}

.home {
    width: 100%;
    height: 80vh;
}


@media screen and (min-width:800px) {

.home h2 {
    font-size: 3rem;
    margin-top: 50px;
    padding-bottom: 50px;
}
.home h1 {
    font-size: 5rem;
    margin-top: 100px;
}
}